{{!-- <div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{blogpost.id}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div> --}}

<div class="row mb-2 commentBlog">
      <div class="col-md-8 blogItem">
        <p class="m-2 fst-italic">by {{blogpost.user.name}} on {{format_date blogpost.date_created}}</p>
        <h5 class="titleBox">{{blogpost.id}}: {{blogpost.title}}</h5>
        <p class= "postBox">{{blogpost.content}}</p>
      </div>

      <hr class="m-2">

<h2 class="m-2">Comments</h2>
<!-- Loop over each comment in the blog.comments array -->
{{#each blogpost.comments as |comment|}}
<p class="m-2">{{comment.content}}</p>
<p class="m-2 fst-italic">by {{comment.user.name}} on {{format_date comment.date_created}}</p>
<hr class="m-2">
{{/each}}

<form class="comment-form m-2" data-id={{blog.id}}>
  <div class="mb-3">
    <label for="addComment" class="form-label">Add a Comment</label>
    <textarea class="form-control" id="addComment" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    
    </div> 


     {{!-- {{#if blogposts.length}}
  <div class="col-md-6 project-list previousBlog">
    <h3>Previous Postings:</h3>

    {{#each blogposts as |blogpost|}}
    <div class="row mb-2 ">
      <div class="col-md-8 blogItem">
        <h5 class="titleBox">{{blogpost.id}}: {{blogpost.title}}</h5>
        <p class= "postBox">{{blogpost.content}}</p>
      </div>
      <div class="col-md-4 profileBtns">
        <button class="btn btn-sm btn-danger" data-id="{{blogpost.id}}">UPDATE</button>
        <button class="btn btn-sm btn-danger" data-id="{{blogpost.id}}" id="deleteBtn">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}


{{!-- ------------------------------------------------------------------------------------------------------------------------------------- --}}




{{!-- ---------------------------------------------------------------------------------------------------------------------------------------- --}}

<script src="../js/comment.js"></script>

{{#if logged_in}}
  <script src="../js/logout.js"></script>
{{/if}}




