<ul id = "blogUl">
{{#each blogposts as |blogpost| }}
<li id = "blogLi">
<div class="row mb-4">
  <div class="col-md-20">
     <div class="row mb-4 ">
        <div class=" blogItem ">
          <h5 class="titleBox">
          <a href="/blogpost/{{blogpost.id}}">{{blogpost.id}}: {{blogpost.title}}</a>
          </h5>
          <p class= "postBox">{{blogpost.content}}</p>
          <p>Created by {{blogpost.user.name}} on {{format_date blogpost.date_created}}</p>
        </div>
      </div>
  </div>
  
</div>

</li>
{{/each}}
</ul>
