
<container id="profileContainer">
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6" id= "createPost">
    <h3>Create a New Blog Posting:</h3>
    
    <form class="form new-project-form">
      <div class="mb-3 form-group">
        <label for="blogpost-title" class="form-label">Post Title</label>
        <input type="text" class="form-control" id="blogpost-title" name= "blogpost-title" placeholder="Enter title for posting">
      </div>
      <div class="mb-3 form-group">
        <label for="blogpost-content" class="form-label">Post Content</label>
        <textarea class="form-control" id="blogpost-content" name="blogpost-content" rows="3"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>

    </form>
  </div>
  
  {{#if blogposts.length}}
  <div class="col-md-6 project-list previousBlog">
    <h3>Previous Postings:</h3>

    {{#each blogposts as |blogpost|}}
    <div class="row mb-2 ">
      <div class="col-md-8 blogItem">
        <h5 class="titleBox">{{blogpost.id}}: {{blogpost.title}}</h5>
        <p class= "postBox">{{blogpost.content}}</p>
      </div>
      <div class="col-md-4 profileBtns">

        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#blog{{blogpost.id}}" data-id="{{blogpost.id}}">UPDATE</button>
        <button class="btn btn-sm btn-danger deleteButton" data-id="{{blogpost.id}}" id="deleteBtn">DELETE</button>
      </div>
    </div>


<div class="modal fade" id="blog{{blogpost.id}}" tabindex="-1" aria-labelledby="blog{{blogpost.id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="blog{{blogpost.id}}">Update Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="blogPost-form">
        <div class="modal-body">
          <div class="mb-3">
            <label for="updateTitle{{blogpost.id}}" class="form-label">Update Title</label>
            <input type="text" class="form-control" id="updateTitle{{blogpost.id}}" value="{{blogpost.title}}">
          </div>
          <div class="mb-3">
            <label for="updateContent{{blogpost.id}}" class="form-label">Content</label>
            <textarea class="form-control" id="updateContent{{blogpost.id}}" rows="3">{{blogpost.content}}</textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary updateButton" data-bs-dismiss="modal" data-id="{{blogpost.id}}">Save Post</button>
        </div>
      </form>
    </div>
  </div>
</div>

    {{/each}}
  </div>
  {{/if}}
</div>



</container>

<script src="./js/logout.js"></script>
<script src="./js/profile.js"></script>
